html {
    font-family: 'Times New Roman', Times, serif;
}
#hero {
    background: url(../img/pattern.png); background-repeat: repeat
    background-size: cover;
    width: 100%;
}

.highlight {
    background-color: #f0d32e; /* Light yellow */
}